* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {}

@font-face {
  font-family: kamerik-3d;
  src: url(../fonts/kamerik205-heavy.woff2);
  font-weight: 900;
}

@font-face {
  font-family: marriweather-italic-3d;
  src: url(../fonts/merriweather-regular-italic.woff2);
  font-weight: 900;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "kamerik-3d";
}

.logo {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 150px;
  height: 150px;
}

.layers {
  perspective: 1000px;
  overflow: hidden;
}

.layers__container {
  height: 100vh;
  transform-style: preserve-3d;
  transform: rotateX(var(--mouse-y)) rotateY(var(--mouse-x));

}

.layers__item {
  position: absolute;
  inset: -5vw;
  background-position: center;
  background-size: cover;
}

.layer-1 {
  background-image: url(../img/layer-1.jpg);
  transform: translateZ();
}

.layer-2 {
  background-image: url(../img/layer-2.png);
  transform: translateZ(80px);
}

.layer-3 {
  transform: translateZ(180px);
}

.layer-4 {
  transform: translateZ(190px);
}

.layer-5 {
  background-image: url(../img/layer-3.png);
  transform: translateZ(300px);
}

.layer-6 {
  background-image: url(../img/layer-4.png);
  transform: translateZ(400px);
}

