* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}

@font-face {
  font-family: kamerik-3d;
  src: url(../fonts/kamerik205-heavy.woff2);
  font-weight: 900;
}

@font-face {
  font-family: marriweather-italic-3d;
  src: url(../fonts/merriweather-regular-italic.woff2);
  font-weight: 900;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "kamerik-3d";
}

.logo {
  position: absolute;
  width: calc(var(--index) * 7);
  height: calc(var(--index) * 7);
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 5%;
  left: 50%
}

.layers {
  perspective: 900px;
  overflow: hidden;
}

.layers__container {
  height: 100vh;
  transform-style: preserve-3d;
  transform: rotateX(var(--mouse-y)) rotateY(var(--mouse-x));
  will-change: transform;
  transition: transform var(--transition);
}

.layers__item {
  position: absolute;
  inset: -5vw;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer-1 {
  background-image: url(../img/layer-1.jpg);
  transform: translateZ(-55px) scale(1.06);
}

.layer-2 {
  background-image: url(../img/layer-2.png);
  transform: translateZ(80px) scale(0.88);
}

.layer-3 {
  transform: translateZ(180px) scale(0.8);
}

.layer-4 {
  transform: translateZ(190px) scale(0.9);
}

.layer-5 {
  background-image: url(../img/layer-5.png);
  transform: translateZ(300px) scale(0.9);
}

.layer-6 {
  background-image: url(../img/layer-6.png);
  transform: translateZ(400px);
}

.hero-content {
  font-size: calc(var(--index) * 2);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: calc(var(--index)* -.15);
  line-height: 170%;
}

.hero-content span {
  display: block;
}

.hero-content__p {
  text-transform: none;
  font-family: "marriweather-italic-3d";
  letter-spacing: normal;
  font-size: calc(var(--index) * .8);
}

.button-start {
  font-family: Arial;
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(var(--index) * 0.8);
  padding: calc(var(--index) * .5) calc(var(--index) * 1.5);
  background-color: transparent;
  color: #fff;
  border: 3px solid rgb(255 255 255/ 0.4);
  border-radius: 10em;
  outline: none;
}

.button-start:hover {
  border-color: #fff;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.4s;
}

.button-start:active {
  transform: scale(0.95);
  transition: 0.1s;
  color: rgb(255 255 255/ 0.4);
}

.layer-4,
.layer-5,
.layer-6 {
  pointer-events: none;
}